asttokens
blinker
catboost
click
colorama
comm
cycler
debugpy
decorator
dill
executing
Flask
fonttools
graphviz
ipykernel
itsdangerous
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
nest-asyncio
numpy
packaging
pandas
parso
pillow
platformdirs
plotly
prompt_toolkit
psutil
pure-eval
Pygments
pyparsing
python-dateutil
pytz
pyzmq
scikit-learn
scipy
seaborn
six
stack-data
tenacity
threadpoolctl
tornado
traitlets
typing_extensions
tzdata
wcwidth
Werkzeug
xgboost
ipython
contourpy